body{
	background-color: black;
}

.logo{
	color: white;
	padding-top: 2%;
	left: 0%


}

.tag-line{
	color: white;
	padding-left: 0%;

	padding-top: 25%;
	font-size: 300%;
}
.quote{
	color: white;
	padding-left: 0%;
	padding-top: 10%;
	font-size: 70%;
}

.container{
	width: 100%;
	background-image: url('../images/black2.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	right: 0;

}
.right-all{
	width: 100%;
	height: auto;
	position: fixed;
	right: 0%;
	left: 5%;

}

.upload{
	background-color: black;
	width: 30%;
	height: auto;
	margin-top: 3%;
	margin-left: 30%;
}

.row{
	margin-top: 5%;
	margin-left: 5%; 
}



